In [2]:
!python --version

Python 3.6.8 :: Anaconda, Inc.

In [1]:
import numpy as np
import pandas as pd

### Naver Movie Review Rawdata EDA

In [25]:
nm_review_path = "./data/nm_review(1258382).tsv"
nm_review_df = pd.read_csv(nm_review_path, delimiter='\t', index_col=0)

C:\Users\h2oin\Anaconda3\envs\kaggle_env\lib\site-packages\numpy\lib\arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [26]:
nm_review_df.shape

(1258382, 7)

In [4]:
nm_review_df['score'].value_counts()

10    696295
8     132288
1     130565
9      96227
6      55195
7      45391
2      45147
4      26077
5      21406
3       9791
Name: score, dtype: int64

In [5]:
nm_review_df.columns

Index(['code', 'uid', 'datetime', 'score', 'review', 'sympathy',
       'notsympathy'],
      dtype='object')

### 결측값 제거

In [6]:
nm_act_review_df = nm_review_df.dropna(axis=0)

In [27]:
nm_act_review_df.shape

(1198688, 7)

In [8]:
nm_act_review_df['score'].value_counts()

10    671624
8     126173
1     121612
9      91573
6      51338
2      42308
7      42263
4      23684
5      19438
3       8675
Name: score, dtype: int64

In [32]:
nm_act_review_df.sort_index().reset_index().drop(['index'], axis=1).head()

,code,uid,datetime,score,review,sympathy,notsympathy
0,167699,15108011,2019.01.11 00:14,2,한글지켜준건 고맙다. 하지만 영화는 엄청 지루하다.,9,18
1,167699,15108707,2019.01.11 05:36,1,우리나라 영화계는 반일이랑 518 없으면 영화를 만들지를 못해요....,10,19
2,167699,15112721,2019.01.12 09:42,4,어제 메박가서 보고왔는데 솔직히 지루했습니다. 내용전개도 스토리도 특별하지 않구요....,1,11
3,167699,15119773,2019.01.13 16:08,2,보지마라 존나 지루하고 잔인,2,12
4,167699,15105990,2019.01.10 15:53,4,지루하고 또 지루하고 그저그런 영화,2,12

데이터 저장

In [33]:
nm_act_review_df.sort_index().reset_index().drop(['index'], axis=1).to_csv("./data/nm_review(dropna).tsv", sep="\t", na_rep='NaN', encoding="UTF-8")

### 스코어별 데이터 수를 동일하게 샘플링하기

In [9]:
def sampling_func(data, sample_n):
    np.random.seed(42)
    N = len(data)
    sample = data.take(np.random.permutation(N)[:sample_n])
    return sample

In [10]:
nm_sample_df = nm_act_review_df.groupby('score', group_keys=False).apply(sampling_func, sample_n=8675)

In [12]:
nm_sample_df['score'].value_counts()

10    8675
9     8675
8     8675
7     8675
6     8675
5     8675
4     8675
3     8675
2     8675
1     8675
Name: score, dtype: int64

In [23]:
nm_sample_df.sort_index().reset_index().drop(['index'], axis=1).head()

,code,uid,datetime,score,review,sympathy,notsympathy
0,167699,15108707,2019.01.11 05:36,1,우리나라 영화계는 반일이랑 518 없으면 영화를 만들지를 못해요....,10,19
1,167699,15112721,2019.01.12 09:42,4,어제 메박가서 보고왔는데 솔직히 지루했습니다. 내용전개도 스토리도 특별하지 않구요....,1,11
2,167699,15119773,2019.01.13 16:08,2,보지마라 존나 지루하고 잔인,2,12
3,167651,15189096,2019.01.30 14:48,10,지친 하루를 보냈는데 오랫만에 웃어보았어요.^^,1,0
4,164172,15405102,2019.03.12 04:52,8,재밋게 보았음 그냥 기분이 좋아지는 코믹물,5,3

데이터 저장

In [24]:
nm_sample_df.sort_index().reset_index().drop(['index'], axis=1).to_csv("./data/nm_review(score_balanced).tsv", sep="\t", na_rep='NaN', encoding="UTF-8")